#contact div {
    padding: 2rem 0;
}

.card {
    justify-content: center;
    align-items: center;
    width: calc((100% - 3rem) / 3);
    padding: 2rem;
    border: 5px solid var(--black);
}

a.card:hover {
    border-color: var(--prim);
}

.card i {
    margin-bottom: 2rem;
}

.card span {
    min-height: 3rem;
}