#hero {
    height: 32rem;
    background-image: url('../assets/mountain1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#hero h1 {
    margin-top: 2rem;
}

#featured-1 {
    height: 26rem;
}

#featured-2 {
    height: 26rem;
}

#contact {
    height: 26rem;
}

#contact h2 {
    margin-bottom: 2rem;
}
