:root {
    --black: #040404;
    --white: #fefefe;
	--prim: #176E80;
	--prim-light: #27B9D6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	scroll-behavior: smooth;
}

h1 {
	font-size: 4rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

h4 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

h5 {
	font-size: 1rem;
	margin-bottom: 1rem;
}

h6 {
	font-size: 0.8rem;
	margin-bottom: 1rem;
}

p {
	font-size: 1em;
	line-height: 24px;
	margin-bottom: 1rem;
}

a {
	font-size: 1em;
	text-decoration: none;
	color: unset;
	transition: color 0.2s ease;
}

a:hover {
	color: var(--prim-light);
}

a:hover img {
	opacity: 0.8;
}

li {
	list-style: none;
	line-height: 1.5em;
}

img {
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

header {
	position: sticky;
	top: 0;
	width: 100%;
	min-height: 6rem;
	padding: 1rem calc(1rem + 15%);
	box-shadow: 0 0 9px 3px rgba(41, 41, 41, 0.25);
}

footer {
	padding: 3rem calc(1rem + 15%) 10rem calc(1rem + 15%);
	color: var(--white);
	background-color: var(--black);
}

section {
	min-height: 20rem;
	padding: 6rem calc(1rem + 15%);
}

/* layout */

.flex-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.flex-col {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.justify-center {
	display: flex;
	justify-content: center;
}

.align-center {
	display: flex;
	align-items: center;
}

.align-start {
	display: flex;
	align-items: flex-start;
}

.align-end {
	display: flex;
	align-items: flex-end;
}

.space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.space-x-1 > *:not(:last-child) {
	margin-right: 1rem;
}

.space-x-2 > *:not(:last-child) {
	margin-right: 2rem;
}

.space-x-3 > *:not(:last-child) {
	margin-right: 3rem;
}

.space-y-2 > *:not(:last-child) {
	margin-bottom: 2rem;
}

.m-0 {
	margin: 0;
}

.thumbnail img {
	max-height: 16rem;
	object-fit: contain;
}

.bg-image {
    height: 32rem;
	padding-top: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	background-color: var(--prim);
	color: var(--white);
}

.bg-image h1 {
    margin-top: 2rem;
}

.bg-white {
	background: var(--white);
	color: var(--black);
}

.bg-prim {
	background: var(--prim);
	color: var(--white);
}

/* buttons */
.btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	margin: 0;
	padding: 1rem 4rem;
	border: 4px solid var(--black);
	transition: all 0.2s ease;
}

.btn-small {
	font-size: 1em;
	padding: 0.5rem 3rem;
}

.btn:hover {
	background-color: var(--black);
	color: var(--white);
}

.btn-disabled:hover {
	background-color: unset;
	color: unset;
}

/* lists */
ul.bulleted li {
	list-style-type: disc;
}

/* pages */
#index-hero {
	color: var(--white);
    background-image: url('../images/index-hero.jpg');
    background-position: 0 5rem;
}

#projects-hero {
	color: var(--black);
    background-image: url('../images/projects-hero.jpg');
    background-position: 0 0;
}

#experience-hero {
	color: var(--black);
    background-image: url('../images/experience-hero.jpg');
    background-position: 0 0;
}
